<div class="text-center">
    <h1 class="display-4">Hafiz</h1>
    <h4>A new way to memorize the Qur'an</h4>
</div>

<div class="row mt-5">
    <div class="col">
        <div class="text-center">
            <h3 class="card-title">Read</h3>
            <p>Read the Qur'an</p>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h3 class="card-title">Arrange</h3>
            <p>Arrange the ayaat of a surah in the proper order</p>
        </div>
    </div>

    <div class="col">
        <div class="text-center">
            <h3 class="card-title">Quiz</h3>
            <p>Quiz yourself on the order of a surah</p>
        </div>
    </div>
</div>